@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #3e3d3cff;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.page-grid-bg {
  background-color: var(--background);
  background-image: linear-gradient(to right,
      rgba(183, 191, 201, 0.15) 1px,
      transparent 1px);
  background-size: 80px 100%;
}

html.dark .page-grid-bg {
  background-image: linear-gradient(to right,
      rgba(183, 191, 201, 0.10) 1px,
      transparent 1px);
}

.text-foreground {
  color: var(--foreground);
}

@keyframes playground-scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.playground-scroll {
  display: flex;
  width: max-content;
  animation: playground-scroll 40s linear infinite;
}

@media (pointer: fine) {

  html,
  body,
  a,
  button,
  [role="button"] {
    cursor: none !important;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.link-arrow {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  font-size: 1rem;
  line-height: 1;
  display: inline-block;
  transform: translateY(-1px);
}